h2{
    color:rgb(188, 128, 49)
}
html, body {
    height: 100%;
    margin: 0;
    background-color: burlywood;
}
button{
    color: rgb(180, 120, 43);
    width: 150px;
    height: 75px;
    display:block;
    margin: 0 auto;
}
img{
    display:block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}